@media (max-width: 1400px) {
  .commercial-offer-form {
    justify-content: center;
    flex-wrap: wrap;
  }


  .commercial-offer-form__left, .commercial-offer-form__right {
    max-width: calc(50% - 20px);
    margin: 10px;
  }

  main article {
    max-width: calc(50% - 20px);
    margin: 10px;
  }
}

@media (max-width: 1200px) {
  .customers-logo {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .bottom-menu {
    display: none;
  }

  .middle-menu__logo {
    span {
      display: none;
    }
  }

  .top-footer__logo {
    span {
      display: none;
    }
  }

  .commercial-offer-form__left, .commercial-offer-form__right {
    width: 100%;
    max-width: 100%;
  }

  .commercial-offer-form__right {
    input {
      height: 45px;
    }
  }

  .attachment::before {
    top: 10px;
  }
}

@media (max-width: 1024px) {
  .commercial-offer-form__left, .commercial-offer-form__right {
    width: 100%;
  }
}

@media (max-width: 992px) {
  main article {
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
  }

  .navbar {
    display: flex;
  }
  ul.top-menu__left, .middle-menu__email {
      display: none;
  }

  .top-footer {
    display: none;
  }

  .burger-menu {
    display: flex!important;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 35px;
  }

  header {
    margin: 0;
  }

  nav.navigation {
    background-color: $mobile-background;
    padding: 24px 0;
    margin-bottom: 32px;

    h2 {
      margin-bottom: 0;
    }
  }

  main {
    article {
      box-shadow: none;

      .shipment {
        background-color: #F9F9F9;
        padding: 15px;

        h3 {
          font-size: 20px;
          line-height: 22px;
        }

        .info {
          width: 100%;
        }
      }
    }
  }

  .customers {
    a {
      display: none;
    }
  }

  .customers-logo {
    grid-template-columns: 1fr 1fr;
  }

  .middle-menu__feedback-phones {
    display: none;
  }

  div.pagination {
    display: none;
  }

  div.mobile-pagination {
    display: flex;
  }

  .commercial-offer-form__right {
    input {
      height: 64px;
    }

    input, textarea {
      border-radius: 4px;
    }
  }
}

@media (max-width: 576px) {
  .middle-menu__feedback {
    display: none;
  }
  ul.top-menu__right {
    display: none;
  }

  .customers {
    h2 {
      margin-bottom: 24px;
    }

    .customers-logo {
      img {
        width: 100%;
      }
    }
  }

  .commercial-offer {
    padding: 40px 0;
    background-color: $mobile-background;

    h2 {
      margin-top: 0;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    p {
      font-size: 20px;
      line-height: 22px;
    }

    .commercial-offer-form__left {
      margin: 0;

      ol {
        li {
          display: flex;
        }
      }
    }

    .commercial-offer-form__right {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      input, textarea {
        width: 100%;
      }

      textarea {
        height: 132px;
      }

      button {
        width: 100%;
        height: 64px;
      }

      .attachment {
        position: absolute;
        bottom: -38px;
        left: 25%;

        &::before {
          top: -2px;
        }
      }
    }
  }
}