body {
  font-family: 'Cera Pro', Tahoma, serif;
}

button {
  background-color: #FB4726;
  color: white;
  font-family: 'Proxima Nova Lt';
  font-weight: 700;
  border: none;
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 52.66px;
  color: #333333;
  margin-top: 27px;
  margin-bottom: 29px;
}

hr {
  height: 1px;
  background-color: #373737;
  opacity: 1;
}

a {
  text-decoration: none;
}