@media (max-width: 1400px) {
  .commercial-offer-form__left, .commercial-offer-form__right {
    width: 343px;
  }

  main article {
    max-width: 343px;
  }
}

@media (max-width: 1200px) {
  .customers-logo {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .bottom-menu {
    display: none;
  }

  .middle-menu__logo {
    span {
      display: none;
    }
  }

  .top-footer__logo {
    span {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .commercial-offer-form__left, .commercial-offer-form__right {
    width: 100%;
  }
}